@import "kae0_mixins", "kae0-style-vars", "kae0-default-style-vars", "kae0gs";
////////////////////////////////////////////////////////////////////////////////
//
// SANDBOX 
//
////////////////////////////////////////////////////////////////////////////////


      

// Example css for fixed div's 
// Templates (twig) also have the relevant code in 
// .nb_fixed-bg {
//     min-height: 85vh;
//     background-position: 50% bottom;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-color:#333;
//     position: fixed;
//     top :0;
//     width: 100vw;
//     z-index: -1;
// }
// #nb_slideshow_bg {min-height: 85vh;
// background-position: 50% 50%;
// background-repeat: no-repeat;
// background-size: cover;
// }
// @media all and (min-width: 0px) {.nb_fixed-bg{}}
// @media all and (min-width: 480px) and (max-width: 767px) {.nb_fixed-bg{}}       
// @media all and (min-width: 768px) /*and (max-width: 1023px)*/ {
// 	.nb_fixed-bg, #nb_slideshow_bg{
// 		height:85vh;
// 		background-attachment: fixed;
// 	}
// }
// @media all and (min-width: 1024px) and (max-width: 1219px) {.nb_fixed-bg{}}
// @media all and (min-width: 1220px) {.nb_fixed-bg{}}
// 
// .path-frontpage #nb_fixed-bg1 {
//     display: none;
// }
// 
// .nb_fixed-inner { /* HOME PAGE LOGO repositioned for slider */
//     position: relative;
//     top: -85vh;
// }

.nb_fixed-bg {
    min-height: 30vh;
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#000;
}

@media all and (min-width: 0px) {.nb_fixed-bg{min-height:30vh;}}
@media all and (min-width: 480px) and (max-width: 767px) {.nb_fixed-bg{min-height:35vh;}}       
@media all and (min-width: 769px) /*and (max-width: 1023px)*/ {
	.nb_fixed-bg, #nb_slideshow_bg{
		height:65vh;
		background-attachment: fixed;
	}
        #nb_fixed-bg0 {background-size: contain;} // Top image contain to show as much as poss of the "card"
        #nb_fixed-bg4 {height: 25vh;}
}
@media all and (min-width: 1024px) and (max-width: 1219px) {.nb_fixed-bg{}}
@media all and (min-width: 1220px) {.nb_fixed-bg{}}

// Hamburger-Menu -example css . Edit as necessary.
//.responsive-menu-toggle-icon::before, .responsive-menu-toggle-icon::after, .responsive-menu-toggle-icon span.icon {
	//background: #c00;
	//content: '';
	//display: block;
	//width: 20px;
	//height: 3px;
	//position: absolute;
	//top: 0;
	//left: 13px;
	//border-radius: 2px;
//}

// KAE Specifics below here
.region--header .field--type-text-with-summary {margin: 0;} // remove margin for custom branding block in header

.region div.node--type-homepage {
    margin: 1.5em 0 0 0;
    font-size: $generalTextSize;
} 
// End KAE specifics

//  Display suite columns for 9/12 and 3/12 ////////
@media all and (max-width: 959px) {
div.ds-2col > .group-left {@include parrotCols($thiscols:12, $nocols:12, $margin: 'normal', $grid: '100');}
div.ds-2col > .group-right {@include parrotCols($thiscols:12, $nocols:12, $margin: 'normal', $grid: '100');}

}
@media all and (min-width: 960px) and (max-width: 1279px) {
div.ds-2col > .group-left {@include parrotCols($thiscols:3, $nocols:12, $margin: 'normal', $grid: '960');}
div.ds-2col > .group-right {@include parrotCols($thiscols:9, $nocols:12, $margin: 'normal', $grid: '960');}
#block-findus .ds-2col > .group-right iframe{float:right;}
}

@media all and (min-width: 1280px) {
div.ds-2col > .group-left {@include parrotCols($thiscols:3, $nocols:12, $margin: 'normal', $grid: '1200');}
div.ds-2col > .group-right {@include parrotCols($thiscols:9, $nocols:12, $margin: 'normal', $grid: '1200');}
#block-findus .ds-2col > .group-right iframe{float:right;}
}
#block-findus {margin: 0 0 1.5em 0;}

.site-copyright p {font-size: 1em; margin: 0 0 1em 0;}